body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #74bae8;
  height: 120px;
  margin: -8px -8px -13px -8px;
  display: flex;
  justify-content: flex-end;
}

.header h1 {
  text-align: right;
  padding-right: 12px;
  color: #ffffff;
  font-size: 32px;
  margin-top: 65px;
}

.header .user-photo {
  padding: 5px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,.25);
  margin-right: 15px;
  margin-top: 15px;
}

.header .user-photo img {
  width: 150px;
  border-radius: 50%;
}

ul.sidenav {
  list-style-type: none;
  width: 250px;
  margin-left: -15px;
  padding: 0px;
}

ul.sidenav li {
  margin: 2px;
  background-color: #74bae8;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

ul.sidenav li a {
  text-decoration: none;
  color: #f1f1f1;
  padding: 20px;
  font-size: 22px;
}

ul.sidenav li a:hover {
  color: #ffffff65;
}

.material-symbols-outlined.sidenav-icon {
  color: #f1f1f1;
  font-size: 48px;
  margin-left: 10px;
}

.active {
  background-color: #2380bd !important;
}

.information {
  padding: 39px;
  margin-top: -369px;
  margin-left: 369px;
}

ul.info li {
  list-style-type: none;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 25px;
}

.material-symbols-outlined.perfil-icon {
  color: rgb(70, 149, 202);
  font-size: 50px;
  margin-left: 4px;
}

.material-symbols-outlined.perfil-icon:hover {
  background-color: #2380bd;
  border-radius: 15px;
  color: white;
}

ul.content li {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 25px;
}


.title {
  padding: 19px;
  margin-top: -397px;
  margin-left: 344px;
  font-size: 86px;
}

.subtitle {
  padding: 322px;
  margin-top: -371px;
  margin-left: 338px;
  font-size: 50px;
  color: grey;
}

.perfil-prof {
  padding: 322px;
  margin-top: -609px;
  margin-left: 46px;
  font-size: 25px;
  color: grey;
}

.btn {
  background-color: #fafafa;
  border: none;
  cursor: pointer;
}

.text-info {
  font-size: 21px;
  color: white;
  font-weight: 600;
  background-color: #4ea2e5;
  border-radius: 10px;
  padding: 10px;
  margin: 50px;
  width: fit-content;
  display: none;
}
